@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


/* In root wird die Schriftgrösse dem Web-Grösse angepasst */
:root {
    font-size: calc(0.5em + 1vw);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 0.01em;

}


h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 0.4em;
  letter-spacing: 0.01em;
}


span {
    background-color: aquamarine;
    font-size: 1.1em;
}

.place {
    color: red;
    font-size: 1.5em;
}

.names {
    color: violet;
    font-size: 1.8em;
}

h3 {
    color: #a52a2a;
    text-transform: uppercase;
}

a:visited {
    color: #008000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: hsl(0, 100%, 50%);
}

a:link {
    color: rgb(0, 0, 255);
    text-decoration: none;

}

/*body {

    background-color: rgb(0, 0, 0);
    background-image: url(skye.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: white;
}
*/

.kursiveSchrift {
    font-style: italic;
}

.backgroundGrey {
    color: rgb(210, 10, 10);
}

.unterstrichen {
    text-decoration: underline;
}

.Absatz {
    color: purple;
}

li {
    font-size: 0.8rem;
}

div.suesses {
    background-color: rgb(214, 214, 223);
    width: 50vw;
}
div p {
    background-color: yellow;
}

.torte {
    width: 50vw;

}

li ul {
    font-variant: small-caps;
}

span.lowercase {
    text-transform: lowercase;
}

p.ausruecken {
    text-indent: 2em;
}