@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


/* In root wird die Schriftgrösse dem Web-Grösse angepasst */
:root {
    font-size: calc(0.5em + 1vw);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 0.01em;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    line-height: 0.4em;
    letter-spacing: 0.01em;
}


span {
    background-color: aquamarine;
    font-size: 1.1em;
}

.place {
    color: red;
    font-size: 1.5em;
}

.names {
    color: violet;
    font-size: 1.8em;
}

/* Überschriften Farben und Texttransformation */
h3 {
    color: #a52a2a;
    text-transform: uppercase;
    /*text-decoration bespiele:
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;    
    */

}

/* Pseudoklassen für Links */
a:link {
    color: rgb(0, 0, 255);
    text-decoration: none;

}
/* Pseudoklassen für Links */
a:visited {
    color: #800000;
}
/* Pseudoklassen für Links */
a:hover {
    text-decoration: underline;
}
/* Pseudoklassen für Links */
a:active {
    color: hsl(0, 100%, 50%);
}

/* Grössen Einheiten, vmax, vmin, vh, vw 
.squarque {
    width: 90vmin;
    height: 90vmin;
    background-color: rgb(0, 255, 255);
}
*/

/*body {

    background-color: rgb(0, 0, 0);
    background-image: url(skye.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: white;
}
*/

.kursiveSchrift {
    font-style: italic;
}

.backgroundGrey {
    color: rgb(210, 10, 10);
}

/* Klasse für unterstrichenen Text */
.unterstrichen {
    text-decoration: underline;
}

.Absatz {
    color: purple;
}

li {
    font-size: 0.8rem;
}


div.suesses {
    background-color: rgb(214, 214, 223);
    width: 50vw;
}

.torte {
    width: 50vw;

}

/* Selektor für ul-Elemente, die Nachkommen von li-Elementen sind */
li ul {
    font-variant: small-caps;
}

span.lowercase {
    text-transform: lowercase;
}


p.ausruecken {
    text-indent: 2em;
}

/* Selektor für alle p-Elemente, die Nachkommen von div-Elementen sind 
div p {
    background-color: yellow;
}
*/

/* Selektor für alle a-Elemente, die direkte Kinder von div-Elementen sind */
div > a {
    background-color: red;
}

/* Selektor für alle a-Elemente, die unmittelbar auf ein div-Element folgen
div + a {
    background-color: #ff0000;
}
*/

/* Selektor für alle a-Elemente, die Geschwister von div-Elementen sind */
div ~ a {
    background-color: rgb(255, 0, 0);
}

/* Selektor für erste p-Elemente, die direkte Kinder von div-Elementen sind 
p:first-child {
    background-color: #00ff00;
}
*/

div.snacks p:nth-child(2n) {
    background-color: #fff000;
}

.tableEmployees, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    
}

table.menu {
   
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    background-color: aquamarine;
}

tfoot {
    background-color: gray;
}

.kontaktTable td {
    border: none;
}

#name::placeholder,#nachname::placeholder,#telefonnummer::placeholder {
    font-style: italic;
    color: rgb(90, 163, 185);
}

input{
    border: 1px solid black;
}

#name,#nachname {
    background-color: #BBBBFF;
}

.bewertung td{
    border: none
}

#arbeitnehmende {
    background-color: #BBBBFF;
}
#begleitperson:in-range {
    background-color: green;
}
#begleitperson:out-of-range {
    background-color: red;
}

